.product-list {
  margin-top: 80px;
}

.error {
  color: red;
  height: 50px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  color: #0099ff;
  height: 50px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-list article {
  max-width: 700px;
  margin: 20px auto;
  padding: 7px 10px;
  background: #ffffff;
  border-radius: 3px;
}

.product-list strong {
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.product-list p {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #0099ff;
  margin-bottom: 10px;
}

.product-list a {
  font-size: 14px;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #0099ff;
  background: transparent;
  color: #0099ff;
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.product-list a:hover {
  background: #0099ff;
  color: #ffffff;
}

.paginate {
  max-width: 700px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.paginate button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: cadetblue;
  cursor: pointer;
}

.paginate button span {
  color: #ffffff;
  font-size: 18px;
}

.paginate button[disabled] {
  opacity: 0.5;
  cursor: default;
}

