.error {
  color: red;
  height: 50px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 80px;
}

.product-info {
  max-width: 700px;
  margin: 20px auto;
  padding: 5px 10px;
  background: #ffffff;
  border-radius: 3px;
}

.product-info strong {
  height: 30px;
  display: flex;
  align-items: center;
}

.product-info p {
  font-size: 14px;
  color: #0099ff;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.product-info a {
  font-size: 14px;
  margin-top: 5px;
  color: cadetblue;
}

.back {
  max-width: 700px;
  margin: 20px auto;
}

.back a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: cadetblue;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}

