.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #0099ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: #fff;
  font-size: 18px;
}

